@import '../../globals/variables.scss';

:host {
  display: block;
  box-sizing: border-box;
}

.container {
  border: 1px solid red;
  background: var(--default-gradient, $bg-color);

  width: 300px;
  height: 300px;
  text-align: center;
  overflow: hidden;

}
.image {
  display: flex;

  overflow-x: hidden;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
