@import '../../globals/variables.scss';

:host {
  display: block;
  filter: drop-shadow(0 0 10px #0003);
}

.container {
  width: 100%;
  max-width: 600px;
  height: 300px;
  margin: 20px;
  text-align: center;
  border-radius: 50px;
  border: 0.2rem solid #990ae3;
  overflow: hidden;
  position: relative;
}

.slider {
  gap: 50px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.pagination {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;

  a {
    box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: $bg-color;
    margin: 0 10px 0 10px;
    text-indent: 50px;
    overflow: hidden;
    color: $bg-color;
  }
}
